<main class="main">
  <div class="content">
    <div class="left-side">
      <br />
      <br />

      <img
        class="bd-placeholder-img rounded float-end"
        src="{{ logo }}"
        alt=""
        width="290"
        height="317"
      />
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="left-side">
      <img
        class="bd-placeholder-img rounded float-end"
        src="{{ picture }}"
        alt=""
        width="152"
        height="217"
      />
      <h3>DR. MEY-ANNE C. CORPUZ</h3>
      <h5>#238 BITALAG, BACNOTAN, LA UNION</h5>
      <h5>+63 945 783 0960</h5>
      <h5>dok.meycorpuz&#64;gmail.com</h5>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <div class="map-container">
          <div class="map-container">
            <div class="my-google-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3820.43977612867!2d120.3785118158806!3d16.754782025148398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3391eda84de742bb%3A0x7b4441a5e5f2dedc!2sBacnotan%2C%20La%20Union!3m2!1d16.7547769!2d120.38070049999999!5e0!3m2!1sen!2sph!4v1660143379575!5m2!1sen!2sph"
                width="660"
                height="410"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="social-links"></div>
    </div>
  </div>
</main>
<footer>
  &copy; {{ today | date: "YYYY" }} - &nbsp;
  <a class="text-dark" href="http://192.168.0.127:4200"> docmeyanneccorpuz</a>
</footer>
